extend layout

block append js
  script(src="/js/parserBundle.js")
  script(src="/js/jquery.toaster.js")
  script(src="/js/commandsToUnicode.js")
  script(src="/js/dashboard_delProof.js")
  script(src="/js/dashboard_newProof.js")
  script(src="/js/dashboard_util.js")
  script(src="/js/dashboard.js")

block append css
  link(rel='stylesheet', href="/css/proof-line.css")

block content
  div.container
    div.jumbotron
      button.btn.btn-lg.btn-success(type="button",
      data-toggle="modal", data-target="#newProofModal") New Proof
      button.btn.btn-lg.btn-default#delChkAllBtn(type="button", style="margin-left: 10px")
        span.glyphicon.glyphicon-check(aria-hidden="true")
      button.btn.btn-lg.btn-default#delUnChkAllBtn(type="button", style="margin-left: 10px")
        span.glyphicon.glyphicon-unchecked(aria-hidden="true")
      button.btn.btn-lg.btn-danger.hidden#delProofBtn(type="button", style="margin-left: 10px")
        span.glyphicon.glyphicon-trash(aria-hidden="true")
      if proofList.length>0
        div.list-group.proof-list
          each proof in proofList
            div.list-group-item(id=proof.id)
              input.del-check-box(type="checkbox", value=proof.id, name="toDelete", style="margin-right: 10px;")
              a.proof-anchor(href="/proover/"+proof.id, style="color: inherit;text-decoration: none;")
                strong.proof-line= proof.name
                -var v_st = proof.status;
                if !v_st.isProofValid
                  span.label.label-pill.label-danger.pull-right: h6#ps_h(style="color:white;") INVALID PROOF
                else if !v_st.isPremiseMaintained
                  span.label.label-pill.label-info.pull-right: h6#ps_h(style="color:white;") MISSING PREMISE
                else if !v_st.isGoalAttained
                  span.label.label-pill.label-warning.pull-right(style="vertical-align: middle;"): h6#ps_h(style="color:white;") GOAL NOT ATTAINED
                else if v_st.isProofValid && v_st.isPremiseMaintained && v_st.isGoalAttained
                  span.label.label-pill.label-success.pull-right: h6#ps_h(style="color:white;") SUCCESS
                else
                  span.label.label-pill.label-default.pull-right: h6#ps_h(style="color:white;") PROOF CURROPTED
        div.hidden.text-center#noProofTxt You have no existing proofs, click on "New Proof" to create one.
      else
        div.text-center#noProofTxt You have no existing proofs, click on "New Proof" to create one.

  div.modal.fade#newProofModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#myModalLabel Create New Proof
        div.modal-body
          form#modalForm(action='/proover/new', method="POST")
            div.form-group
              input.form-control.input-lg#proofName(type='text', name='proofName',
              placeholder="Enter a Valid Sequent", required=true, autofocus=true)
            div.alert.alert-danger.fade.in.hidden#wfsErrDiv
              a.close(href="#", data-hide="alert", aria-label="close") &times;
              p#wfsErrMsg
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary#formSubmitBtn(type="button", disabled=true) Create

