extend layout

block append js
  script(src="/js/parserBundle.js")
  script(type='text/javascript').
    $(document).ready(function(){

      $("[data-hide]").on("click", function(){
        $(this).closest("." + $(this).attr("data-hide")).hide();
      });

      $("#proofName").on("input propertychange paste",function(){
        var isDisabled = true;
        ($(this).val() === "") ? isDisabled=true : isDisabled=false;
        $("#formSubmitBtn").prop("disabled", isDisabled);
      });

      $('#formSubmitBtn').click(function(){
        var FOLParser = require('FOLParser');
        var wfsCheck = FOLParser.isWFS($('#proofName').val());
        if (wfsCheck.status){
          $('#modalForm').submit();
        } else {
          $( '#wfsErrDiv' ).removeClass( "hidden" );
          $('#wfsErrDiv').show();
          $('#wfsErrMsg').text(wfsCheck.err.join('\n'));
        }
      });

      $('.modal').on('shown.bs.modal', function () {
        $(this).find('input:text:visible:first').focus();
      });
    });

block content
  div.container
    div.jumbotron
      button.btn.btn-lg.btn-success(type="button",
      data-toggle="modal", data-target="#newProofModal") New Proof
      if proofList.length>0
        div.list-group
          each proof in proofList
            if proof.status===true
              a.list-group-item(href="/proover/"+proof.id): h5= proof.name
                span.label.label-pill.label-success.pull-right SUCCESS
            else
              a.list-group-item(href="/proover/"+proof.id): h5= proof.name
                span.label.label-pill.label-danger.pull-right ERROR
      else
        div.text-center You have no existing proofs, click on "New Proof" to create one.

  div.modal.fade#newProofModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#myModalLabel Create New Proof
        div.modal-body
          form#modalForm(action='/proover/new', method="POST")
            div.form-group
              input.form-control.input-lg#proofName(type='text', name='proofName',
              placeholder="Enter a Valid Sequent", required=true, autofocus=true)
            div.alert.alert-danger.fade.in.hidden#wfsErrDiv
              a.close(href="#", data-hide="alert", aria-label="close") &times;
              p#wfsErrMsg
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary#formSubmitBtn(type="button", disabled=true) Create

