extend layout

block append js
  script(src="/js/commandsToUnicode.js")
  script(src="/js/parserBundle.js")
  script(src="/js/jquery.toaster.js")
  script(type="text/javascript").
    var proofModel = !{JSON.stringify(proofModel)}
  script(src="/js/proover_save.js")
  script(src="/js/proover_prove.js")
  script(src="/js/proover_util.js")
  script(src="/js/proover_addLine.js")
  script(src="/js/proover_editLine.js")
  script(src="/js/proover.js")

block append css
  link(rel='stylesheet', href="/css/proof-line.css")

block content
  div.container
    div.jumbotron
      h3.text-center: span.label.label-primary= proofModel.proofName
      button.btn.btn-lg.btn-success#saveProofBtn(type="button", data-loading-text="<i class='glyphicon glyphicon-hourglass' aria-hidden='true'></i>") Save
      button.btn.btn-lg.btn-primary.proof-spacing#startProofBtn(type="button", data-loading-text="<i class='glyphicon glyphicon-hourglass' aria-hidden='true'></i>") Proof
      -var v_st = proofModel.proofStatus;
      if !v_st.isProofValid
        span.label.label-pill.label-danger.pull-right#proofStatus: h5#ps_h(style="color:white;") INVALID PROOF
      else if !v_st.isPremiseMaintained
        span.label.label-pill.label-info.pull-right#proofStatus: h5#ps_h(style="color:white;") MISSING PREMISE
      else if !v_st.isGoalAttained
        span.label.label-pill.label-warning.pull-right#proofStatus: h5#ps_h(style="color:white;") GOAL NOT ATTAINED
      else if v_st.isProofValid && v_st.isPremiseMaintained && v_st.isGoalAttained
        span.label.label-pill.label-success.pull-right#proofStatus: h5#ps_h(style="color:white;") SUCCESS
      else
        span.label.label-pill.label-default.pull-right#proofStatus: h5#ps_h(style="color:white;") PROOF CURROPTED
      div.panel.panel-default
        table.table.proof-table#proofTable
          each line in proofModel.proofData.proofLines
            tr.proof-line(id="line_#{line.lineNo}")
              td.vert-align
                span= line.depAssumptions.join(',')
              td.vert-align
                span (#{line.lineNo})
              td.text-center.vert-align
                span= line.formule
              td.text-right.vert-align
                span= line.annotationsStr.join(',')
              td.text-right.vert-align
                if line.rule=="A"
                  span= ""
                else
                  span= line.rule
              td.text-right.vert-align
                button.btn.btn-default.edt-btn(type="button", id="edt_btn_#{line.lineNo}")
                  span.glyphicon.glyphicon-edit
                  span.hidden.hidden-lno #{line.lineNo}
      div.container
        div.form-group.new-proof-line-form
          div.row
            div.col-md-2
              input.form-control.input-lg#depAssumptions(type='text',
              name='depAssumptions',
              placeholder="Dependecies",
              required=true, autofocus=true)
            div.col-md-4
              input.form-control.input-lg#formule(type='text', name='formule',
              placeholder="Formule", required=true, autofocus=true)
            div.col-md-2
              input.form-control.input-lg#annotation(type='text', name='annotation',
              placeholder="Annotations",
              required=true, autofocus=true)
            div.col-md-2
              div.input-group
                input.form-control.input-lg#selectedRule(type="text",
                placeholder="Rule", aria-label="selectedRule")
                div.input-group-btn
                  button.btn.btn-default.dropdown-toggle.input-lg(type="button",
                  id="dropdownMenu1", data-toggle="dropdown",
                  aria-haspopup="true", aria-expanded="true") Rule
                    span.caret
                  ul.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenu1")
                    each rule in ruleList
                      li: a.proof-rule(style="cursor: pointer;")= rule
            div.col-md-2
              div.row
                button.btn.btn-lg.btn-primary#lineSubmitBtn(type="button")
                  span.glyphicon.glyphicon-plus(aria-hidden="true")
                button.btn.btn-lg.btn-danger#delLineBtn(type="button", style="margin-left: 20px" )
                  span.glyphicon.glyphicon-minus(aria-hidden="true")
        div.alert.alert-danger.fade.in.hidden#errDiv
          a.close(href="#", data-hide="alert", aria-label="close") &times;
          p#errMsg
        p.text-center(style="font-size: 15px; color: #808080; font-weight:bold") Legend:&nbsp;&nbsp;\i:&nbsp;→&nbsp;&nbsp;&nbsp;\o:&nbsp;∨&nbsp;&nbsp;&nbsp;\a:&nbsp;∧&nbsp;&nbsp;&nbsp;\n:&nbsp;¬&nbsp;&nbsp;&nbsp;\t:&nbsp;⊤&nbsp;&nbsp;&nbsp;\f:&nbsp;⊥&nbsp;&nbsp;&nbsp;

  div.modal.fade#editLineModal(tabindex="-1", role="dialog",
  aria-labelledby="myModalLabel")
    div.modal-dialog.modal-lg(role="document")
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title#myModalLabel Edit Line
        div.modal-body
          div.form-group.new-proof-line-form
            div
              div.row
                div.col-md-2
                  input.form-control.input-lg#e_depAssumptions(type='text',
                  name='depAssumptions',
                  placeholder="Dependecies",
                  required=true, autofocus=true)
                div.col-md-6
                  input.form-control.input-lg#e_formule(type='text', name='formule',
                  placeholder="Formule", required=true, autofocus=true)
                div.col-md-2
                  input.form-control.input-lg#e_annotation(type='text', name='annotation',
                  placeholder="Annotations",
                  required=true, autofocus=true)
                div.col-md-2
                  div.input-group
                    input.form-control.input-lg#e_selectedRule(type="text",
                    placeholder="Rule", aria-label="selectedRule")
                    div.input-group-btn
                      button.btn.btn-default.dropdown-toggle.input-lg(type="button",
                      id="dropdownMenu1", data-toggle="dropdown",
                      aria-haspopup="true", aria-expanded="true") Rule
                        span.caret
                      ul.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenu1")
                        each rule in ruleList
                          li: a.edt-proof-rule(style="cursor: pointer;")= rule
          div.alert.alert-danger.fade.in.hidden#e_errDiv
            a.close(href="#", data-hide="alert", aria-label="close") &times;
            p#e_errMsg
        div.modal-footer
          span.hidden#modelLineNo
          button.btn.btn-default(type="button", data-dismiss="modal") Cancel
          button.btn.btn-primary#lineSaveBtn(type="button") Save
